In [90]:
from sklearn import tree
import pandas as pd
import os
import numpy as np

In [91]:
df = pd.read_csv(os.path.join("Bordeaux100.csv"))
df

,Region,Wine,LWIN11,Vintage,LWIN7,Index,Sub-Index,Latitude,Longitude,Mar-Sept avg rainfall,Critic Score,7/2021 Price,7/2020 Price,Percentage Change
0,Bordeaux (Red),Angelus,10060452017,2017,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,470,95,2761.0,2888.04,-0.04
1,Burgundy (Red),Angelus,10060452016,2016,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,418,95,3060.0,2799.96,0.09
2,Bordeaux (Red),Angelus,10060452015,2015,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,353,96,2808.0,2499.96,0.12
3,Bordeaux (Red),Angelus,10060452014,2014,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,473,93,2350.0,2280.00,0.03
4,Bordeaux (Red),Angelus,10060452013,2013,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,526,90,2300.0,2270.00,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Bordeaux (Red),Lafleur,10119022014,2014,1011902,Bordeaux 500,Right Bank 50,44.953112,-0.164187,473,95,5428.0,4740.00,0.15
96,Bordeaux (Red),Margaux,10127812017,2017,1012781,Bordeaux 500,Fine Wine 50,45.044418,-0.668706,470,97,3752.0,3459.96,0.08
97,Bordeaux (Red),Margaux,10127812016,2016,1012781,Bordeaux 500,Fine Wine 50,45.044418,-0.668706,418,96,5828.0,4839.96,0.20
98,Bordeaux (Red),Margaux,10127812015,2015,1012781,Bordeaux 500,Fine Wine 50,45.044418,-0.668706,353,97,10717.0,9900.00,0.08
99,Bordeaux (Red),Margaux,10127812014,2014,1012781,Bordeaux 500,Fine Wine 50,45.044418,-0.668706,473,95,3654.0,3650.04,0.00

In [92]:
#drop unecessary data
data =df.drop(["Region","Wine","LWIN7","Index","Sub-Index"], axis=1)
data

,LWIN11,Vintage,Latitude,Longitude,Mar-Sept avg rainfall,Critic Score,7/2021 Price,7/2020 Price,Percentage Change
0,10060452017,2017,44.892882,-0.1704865,470,95,2761.0,2888.04,-0.04
1,10060452016,2016,44.892882,-0.1704865,418,95,3060.0,2799.96,0.09
2,10060452015,2015,44.892882,-0.1704865,353,96,2808.0,2499.96,0.12
3,10060452014,2014,44.892882,-0.1704865,473,93,2350.0,2280.00,0.03
4,10060452013,2013,44.892882,-0.1704865,526,90,2300.0,2270.00,0.01
...,...,...,...,...,...,...,...,...,...
95,10119022014,2014,44.953112,-0.164187,473,95,5428.0,4740.00,0.15
96,10127812017,2017,45.044418,-0.668706,470,97,3752.0,3459.96,0.08
97,10127812016,2016,45.044418,-0.668706,418,96,5828.0,4839.96,0.20
98,10127812015,2015,45.044418,-0.668706,353,97,10717.0,9900.00,0.08
99,10127812014,2014,45.044418,-0.668706,473,95,3654.0,3650.04,0.00

In [93]:
>>> data["classify"] = "3"
>>> data["classify"][(data["Percentage Change"] > 0)] = "1"
>>> data["classify"][(data["Percentage Change"] < 0)] = "2"
>>> data

/var/folders/yv/wd9pbw7d2fs94dzxmktrx1zc0000gn/T/ipykernel_73320/1557696737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["classify"][(data["Percentage Change"] > 0)] = "1"
/var/folders/yv/wd9pbw7d2fs94dzxmktrx1zc0000gn/T/ipykernel_73320/1557696737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["classify"][(data["Percentage Change"] < 0)] = "2"

,LWIN11,Vintage,Latitude,Longitude,Mar-Sept avg rainfall,Critic Score,7/2021 Price,7/2020 Price,Percentage Change,classify
0,10060452017,2017,44.892882,-0.1704865,470,95,2761.0,2888.04,-0.04,2
1,10060452016,2016,44.892882,-0.1704865,418,95,3060.0,2799.96,0.09,1
2,10060452015,2015,44.892882,-0.1704865,353,96,2808.0,2499.96,0.12,1
3,10060452014,2014,44.892882,-0.1704865,473,93,2350.0,2280.00,0.03,1
4,10060452013,2013,44.892882,-0.1704865,526,90,2300.0,2270.00,0.01,1
...,...,...,...,...,...,...,...,...,...,...
95,10119022014,2014,44.953112,-0.164187,473,95,5428.0,4740.00,0.15,1
96,10127812017,2017,45.044418,-0.668706,470,97,3752.0,3459.96,0.08,1
97,10127812016,2016,45.044418,-0.668706,418,96,5828.0,4839.96,0.20,1
98,10127812015,2015,45.044418,-0.668706,353,97,10717.0,9900.00,0.08,1
99,10127812014,2014,45.044418,-0.668706,473,95,3654.0,3650.04,0.00,3

In [94]:
vino=data.drop(["Percentage Change"], axis=1)
vino

,LWIN11,Vintage,Latitude,Longitude,Mar-Sept avg rainfall,Critic Score,7/2021 Price,7/2020 Price,classify
0,10060452017,2017,44.892882,-0.1704865,470,95,2761.0,2888.04,2
1,10060452016,2016,44.892882,-0.1704865,418,95,3060.0,2799.96,1
2,10060452015,2015,44.892882,-0.1704865,353,96,2808.0,2499.96,1
3,10060452014,2014,44.892882,-0.1704865,473,93,2350.0,2280.00,1
4,10060452013,2013,44.892882,-0.1704865,526,90,2300.0,2270.00,1
...,...,...,...,...,...,...,...,...,...
95,10119022014,2014,44.953112,-0.164187,473,95,5428.0,4740.00,1
96,10127812017,2017,45.044418,-0.668706,470,97,3752.0,3459.96,1
97,10127812016,2016,45.044418,-0.668706,418,96,5828.0,4839.96,1
98,10127812015,2015,45.044418,-0.668706,353,97,10717.0,9900.00,1
99,10127812014,2014,45.044418,-0.668706,473,95,3654.0,3650.04,3

In [95]:
target = vino["classify"]
target_names = ["1", "2", "3"]

In [111]:
final_df = vino.drop("classify", axis=1)
feature_names = final_df.columns
final_df

,LWIN11,Vintage,Latitude,Longitude,Mar-Sept avg rainfall,Critic Score,7/2021 Price,7/2020 Price
0,10060452017,2017,44.892882,-0.1704865,470,95,2761.0,2888.04
1,10060452016,2016,44.892882,-0.1704865,418,95,3060.0,2799.96
2,10060452015,2015,44.892882,-0.1704865,353,96,2808.0,2499.96
3,10060452014,2014,44.892882,-0.1704865,473,93,2350.0,2280.00
4,10060452013,2013,44.892882,-0.1704865,526,90,2300.0,2270.00
...,...,...,...,...,...,...,...,...
95,10119022014,2014,44.953112,-0.164187,473,95,5428.0,4740.00
96,10127812017,2017,45.044418,-0.668706,470,97,3752.0,3459.96
97,10127812016,2016,45.044418,-0.668706,418,96,5828.0,4839.96
98,10127812015,2015,45.044418,-0.668706,353,97,10717.0,9900.00
99,10127812014,2014,45.044418,-0.668706,473,95,3654.0,3650.04

In [112]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(final_df, target, random_state=42)

In [113]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.68

In [114]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=600)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.68

In [115]:
sorted(zip(rf.feature_importances_,feature_names), reverse=True)

[(0.19203646316685294, '7/2021 Price'),
 (0.19077323149768657, '7/2020 Price'),
 (0.1242416665405335, 'Latitude'),
 (0.10693904022224632, 'Longitude'),
 (0.10675040805983269, 'Critic Score'),
 (0.10462806358484668, 'LWIN11'),
 (0.08918560815580805, 'Vintage'),
 (0.08544551877219334, 'Mar-Sept avg rainfall ')]